*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.content{
  height: 100vh;
}
.register{
  height: 90vh;
}
/* transection page */
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0px 0px 3px gray;
}

/* antd icons */
.anticon svg{
  font-size: 20px;
  cursor: pointer;

}
.iconswitch{
  border: 1px solid rgba(0, 0, 0, 0.541);
  border-radius: 5px;
  padding: 10px 15px;
}
.activeicon{
  color: black;
}
.inactiveicon{
  color: rgba(0, 0, 0, 0.568);
}
.table-cell-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
